<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Book and Review</title>
    <style>
        ul, li {
            padding: 10px;
            list-style-type: none;
            float: right;
        }
        div {
            display: inline-block;
        }
        fieldset {
            display: flex;
        }
        button {
            float: right;
        }
        .error {
            color: #f00;
            font-weight: bold;
        }
        .success {
            color: #090;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div>
        <ul>
            <li><a href="/books">Home</a></li>
            <!-- <li><a href="/add">Add Book and Review</a></li> -->
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div><br>
    <div>
        <fieldset>
            <legend>Add a New Book Title and a Review:</legend>
            <form action="/add_review" method="post">
                {% csrf_token %}
            <p>Book Title:<input type="text" name="title" placeholder="title"></p>
            <select name="author">
                {% for author in authors %}
                    <option value="{{author.id}}">{{author.author}}</option>
                {% endfor %}
            </select>
            <p>Or add a new author:<input type="text" name="new_author" placeholder="author"></p>
            <p>Review:<textarea name="review"></textarea></p>
            <p>Rating: <input type="number" name="rating" min="1" max="5"></p>
            <button type="submit">Add Book and Review</button>
            </form>
        </fieldset>
    </div>
    
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li
            {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</body>
</html>