<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users Show</title>
    <style>
        *{
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
    </style>
</head>
<body>
   

    <h1>Users {{userdata.id}}</h1>
    <p>Full Name: {{userdata.first_name}} {{userdata.last_name}}</p>
    <p>Email: {{userdata.email}}</p>
    <p>Created at: {{userdata.created_at}}</p>
    <a href='/edit/{{userdata.id}}'>Edit</a> | <a href='/delete/{{userdata.id}}'>Delete</a>

</body>
</html>